li {
  margin: 5px;
  padding: 5px;
}

.label {
  font-weight: bold;
}

.create-update-form {
  margin: 5px;
  padding: 5px;
}

.form-group {
  margin-bottom: 5px;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2016/06/26/18/56/hamburger-1481025_1280.jpg")
}
h1 {
  text-align: center;

}
